@import "bootstrap/dist/css/bootstrap.css";
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "./font.css";

main {
  > section {
    margin-bottom: 3rem;

    &:first-child {
      margin-top: 3rem;
    }

    .img-fluid {
      width: 100%;
      height: 100%;
    }

    a {
      &.tel, &.sms {
        color: inherit;
        text-decoration: none;
      }
    }

    .MuiDateCalendar-root {
      .MuiPickersCalendarHeader-root {
        pointer-events: none;
      }

      .MuiDayCalendar-weekContainer {
        align-items: center;
        justify-content: center;

        .MuiButtonBase-root {
          padding: 6px;
        }

        .Mui-selected {
          border: 0;
          border-radius: 50%;
          color: #fff;
          background-color: rgba(25, 118, 210, 0.4);
          font-weight: 500;
        }
      }
    }
  }
}

