@import "bootstrap/dist/css/bootstrap.css";
@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "./font.css";

main {
  > section {
    margin-bottom: 3rem;

    &:first-child {
      margin-top: 3rem;
    }

    .img-fluid {
      width: 100%;
      height: 100%;
    }

    a.tel {
      color: inherit;
      text-decoration: none;
    }

    .react-calendar {
      pointer-events: none;
    }

  }
}

